#filterbar {
  z-index: 99;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  bottom: 0;
  right: 0;
  height: 50px;
}

.arrow-button {
  color: black;
  align-self: flex-end;
}

.fake-container {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 0.75rem;
  opacity: 1;
  -webkit-transition: font-size 0.2s, opacity 0.2s;
  transition: font-size 0.2s, opacity 0.2s;
  transition-delay: 0.1s;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  -webkit-box-pack: center;
  flex-direction: column;
}
.fake-caption {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 0.75rem;
  opacity: 1;
  -webkit-transition: font-size 0.2s, opacity 0.2s;
  transition: font-size 0.2s, opacity 0.2s;
  transition-delay: 0.1s;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  -webkit-box-pack: center;
  flex-direction: column;
}

@media screen and (max-width: 35em) {
  #filterbar {
    width: 100%;
  }
}
