#filter-menu {
  z-index: 99;
  transition: all 2.2s cubic-bezier(.56,-0.67,.74,1.69
  );
  /* display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    /* justify-items: end; */
  /* grid-row: 1 ; */
  /* position: fixed;
    bottom: 0;
    right: 0; */
  /* width: 20%; */
  /* min-width:350px; */
  /* height: 50px;  */
}

.filtermenu {
  height: 0px;
}

.filtermenu.open {
  height: 1000px;
  overflow:scroll;
}

.inputCard {
  padding-left: 10px;
}

li {
  padding-left:50px;
}

ul {
  list-style:none;
}
