#navbar {
  z-index:98;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  /* grid-column: 1 / 3; */
  /* grid-row: 1; */
}
.nav-links {
    display: none;
    /* justify-content: space-evenly;
    flex-wrap: wrap; */
    list-style: none;
    padding-left: 50;
  }
  
  .nav-links > * {
    flex: auto;
    flex-direction: column;
  }
  
  .nav-links > li {
    border: 1px solid black;
    width:20px;
  }
  
  .nav-links a {
    display: block;
    padding: 1em;
    margin: 0;
    background-color: rgb(171, 16, 16);
    text-decoration: none;
    text-align: center;
  }
  
  .nav-links a,
  .nav-links a:visited {
    color: white;
  }
  
  .nav-links a:hover {
    color: white;
    background-color: rgb(0, 11, 112);
  }

  @media screen and (min-width: 40em) {
    .nav-links {
      display: flex; 
      width:100%;
      justify-content: space-between;
      /* TODO: update  */
    }
  }


  .navButton {
    display: block;
    padding: 1em;
    margin: 0;
    background-color: rgb(171, 16, 16);
    text-decoration: none;
    text-align: center;
    font-family: "Unna", serif;
    color: white;
  } 
  /* TODO: integrate */
