* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
}

.App {
  height: 100%;
  display:grid;
  /* grid-template-columns: 9fr 1fr; */
  grid-template-rows: 50px auto 50px;
  /* background-color: rgb(0, 11, 112); */
}

.page {
  height: 100%;
  overflow: hidden;
}

/* body {
  font-size: 24px;
  background-color: black;
  display: flex;
  min-height: 100vh;
}

h1 {
  color: white;
  font-size: 70px;
  font-family: friz;
} */

/* .visible {
  display: block;
} */


.logo {
  height: 250px;
}
